@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --tw-shadow-color: rgba(0, 0, 0, 1);
  --color-primary: #253031;
  --color-secondary: #315659;
  --color-tertiary: #2978a0;
  --color-quaternary: #c6e0ff;
  --color-quinary: #006616;
  --color-senary: #000000;
  --color-septenary: #000000;
  --color-octonary: #000000;
  --color-nonary: #000000;
  --color-denary: #000000;
}

body {
  margin: 0;
}
